html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, 'Hiragino Kaku Gothic Pro', Meiryo, メイリオ, 'MS PGothic',
    sans-serif;
}

#__next {
  height: 100%;
  -ms-flex-align: stretch;
  -ms-flex-direction: column;
  -ms-flex-negative: 0;
  -ms-flex-preferred-size: auto;
  -webkit-align-items: stretch;
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-basis: auto;
  -webkit-flex-direction: column;
  -webkit-flex-shrink: 0;
  align-items: stretch;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, 'Hiragino Kaku Gothic Pro', Meiryo, メイリオ, 'MS PGothic',
    sans-serif;
}
